@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: 240 47% 7%;
  --foreground: 214 32% 91%;
  --contrastBackgound: 240 47% 8%;
  height: 100%;
}

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-backgroundContrast: hsl(var(--contrastBackgound));
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  width: 100%;
  min-height: 100%;
  min-height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  height: 100%;
  flex: 1;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px hsl(black) inset !important;

  -webkit-text-fill-color: hsl(var(--foreground)) !important;

  transition: background-color 5000s ease-in-out 0s;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
