@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: 240 47% 7%;
  --foreground: 214 32% 91%;
}

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* 1. Paint over the white background with your dark theme color */
  -webkit-box-shadow: 0 0 0 30px hsl(black) inset !important;

  /* 2. Force the text to be your light foreground color */
  -webkit-text-fill-color: hsl(var(--foreground)) !important;

  /* 3. Maintain the border radius if needed */
  transition: background-color 5000s ease-in-out 0s;
}
