/* ----------------------------------------------------------------------------------------------
App.css
This file contains all the styles of the application
------------------------------------------------------------------------------------------------- */

@import "tailwindcss";

@import "tw-animate-css";

@import "shadcn/tailwind.css";

:root {
  --background: 240 47% 7%;

  --foreground: 210 40% 98%;

  --card: 240 47% 10%;
  --card-foreground: 210 40% 98%;

  --popover: 240 47% 10%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}
