/* ----------------------------------------------------------------------------------------------
App.css
This file contains all the styles of the application
------------------------------------------------------------------------------------------------- */

@import "tailwindcss";
